{% extends "base.html.twig" %}

{% block content %}
    <div class="starter-template">
	      	<p><img class="img-responsive" src="{{ asset('img/kasia.jpg') }}" alt="Image 'kobieta w lawendzie'"></p>
	        <h1>FOTOGRAFIA</h1>
	        <p class="lead">Witaj na mojej stronie projektu z przedmiotu<br> SYSTEM INTERAKCYJNY</p>
	        <p><small>Autor - <a href="http://www.katedam.com" title="Katarzyna Dam">Katarzyna Dam</a></small></p>
	      </div>
{% endblock %}
